[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/anusreekarnex
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anusreekarnex
	label-Verified = -1..+1 group user/anusreekarnex
	push = group user/anusreekarnex
	read = group user/anusreekarnex
	rebase = group user/anusreekarnex
	removeReviewer = group user/anusreekarnex
	submit = group user/anusreekarnex
[access "refs/heads/*"]
	create = group user/anusreekarnex
	push = +force group user/anusreekarnex
	pushMerge = group user/anusreekarnex
	read = group user/anusreekarnex
[access "refs/tags/*"]
	push = group user/anusreekarnex
	push = +force group user/anusreekarnex
[project]
	description = "sample project repo "
